<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orderItems">
            <h2><span>Order Items</span> {{orderItems.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Quantity</span></dt>
                <dd>
                    <span>{{orderItems.quantity}}</span>
                </dd>
                <dt><span>Paid Price</span></dt>
                <dd>
                    <span>{{orderItems.paidPrice}}</span>
                </dd>
                <dt><span>Cart</span></dt>
                <dd>
                    <div *ngIf="orderItems.cart">
                        <a [routerLink]="['/cart', orderItems.cart?.id, 'view']">{{orderItems.cart?.id}}</a>
                    </div>
                </dd>
                <dt><span>Command</span></dt>
                <dd>
                    <div *ngIf="orderItems.command">
                        <a [routerLink]="['/command', orderItems.command?.id, 'view']">{{orderItems.command?.id}}</a>
                    </div>
                </dd>
                <dt><span>Product</span></dt>
                <dd>
                    <div *ngIf="orderItems.product">
                        <a [routerLink]="['/product', orderItems.product?.id, 'view']">{{orderItems.product?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order-items', orderItems.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
