<!--<div class="item-list-cart-root">-->
<mat-card class="item-list-cart-root" [class.mat-elevation-z1]="true">
    <div class="item-list-cart-left">
        <img class="item-list-cart-img" src="../../../../../content/images/velo.jpg">
    </div>
    <div class="item-list-cart-middle-product">
        <p class="mat-h4" style="font-weight: bold;">{{ orderItem.product.name }}</p>
        <p class="mat-h4" *ngIf="orderItem.product.type === 'BIKE'">{{ orderItem.product.bikeColor}}</p>
        <p class="mat-h4">{{ orderItem.product.price }}</p>
    </div>
    <div class="item-list-cart-middle-quantity">
        <mat-form-field id="select-quantity">
            <mat-label>Quantité</mat-label>
            <mat-select [(value)]="selectedQuantity" placeholder="Mode">
                <mat-option value=1>1</mat-option>
                <mat-option value=2>2</mat-option>
                <mat-option value=3>3</mat-option>
                <mat-option value=4>4</mat-option>
                <mat-option value=5>5</mat-option>
            </mat-select>
        </mat-form-field>
        <p class="mat-h4"> {{ orderItem.paidPrice }}</p>
    </div>
    <div class="item-list-cart-right">
        <button mat-icon-button aria-label="Delete from cart icon">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</mat-card>
<!--</div>-->
