<mat-card-title>Vélos > VTT > 123</mat-card-title>

<div id="details-root">
    <div id="details-image-container">
        <img id="details-image" src="../../../../content/images/velo.jpg">
    </div>

    <div id="details-right">
        <mat-card-title>{{product.name}}</mat-card-title>
        <br>
        <span id="details-descr-title">
            <h4 style="display: inline-block"> {{product.price}}$ - En stock</h4>
        </span>
        <div id="details-description-container">
            <div id="details-description">
                <p>
                    {{product.description}}
                </p>
            </div>
        </div>
        <div id="details-buttons">
            <mat-form-field id="details-select-quantity">
                <mat-label>Quantité</mat-label>
                <mat-select [(value)]="selectedQuantity">
                    <mat-option value="1">1</mat-option>
                    <mat-option value="2">2</mat-option>
                    <mat-option value="3">3</mat-option>
                    <mat-option value="4">4</mat-option>
                    <mat-option value="5">5</mat-option>
                </mat-select>
            </mat-form-field>

            <button
                id="details-button-add-to-cart"
                mat-raised-button
                color="accent"
                (click)="addToCart(product.id, selectedQuantity)">
                <mat-icon class="example-icon" aria-hidden="false" aria-label="Search icon">shopping_basket</mat-icon>
                AJOUTER
            </button>
        </div>
    </div>
</div>
