<mat-card-title>Vélos > VTT > 123</mat-card-title>

<div id="details-root">
    <div id="details-image-container">
        <img id="details-image" src="../../../../content/images/velo.jpg">
    </div>

    <div id="details-right">
        <mat-card-title>{{product.name}}</mat-card-title>
        <br>
        <span id="details-descr-title">
            <h4 style="display: inline-block"> {{product.price}}$ - {{ isInStock }}</h4>
        </span>
        <div id="details-description-container">
            <div id="details-description">
                <p>
                    {{product.description}}
                </p>
            </div>
        </div>
        <div id="details-buttons">
            <button
                id="details-button-add-to-cart"
                mat-raised-button
                color="accent"
                (click)="addToCart(product.id, false)"
                [disabled]="isDisabled">
                <mat-icon class="example-icon" aria-hidden="false" aria-label="Search icon">shopping_basket</mat-icon>
                Add to cart
            </button>
        </div>
    </div>
</div>
