.example-form-field {
  width: 8000px;
}

//.example-icon {
//  //padding: 0 14px;
//  padding: 0 14px;
//}
#search-root {
  width: 100%;
}

.formFieldWidth480 .mat-form-field-infix {
  //width: 2000px;
}

.mat-form-field {
  width: 300%;
}
