<div>
    <h2 id="page-heading">
        <span>SABIKE Commandes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sabike-commande" [routerLink]="['/sabike-commande/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new SABIKE Commande
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="sABIKECommandes?.length === 0">
        <span>No sABIKECommandes found</span>
    </div>
    <div class="table-responsive" *ngIf="sABIKECommandes?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Order Id</span></th>
            <th><span>Number</span></th>
            <th><span>Status</span></th>
            <th><span>Order Date</span></th>
            <th><span>Order Items</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sABIKECommande of sABIKECommandes ;trackBy: trackId">
                <td><a [routerLink]="['/sabike-commande', sABIKECommande.id, 'view' ]">{{sABIKECommande.id}}</a></td>
                <td>{{sABIKECommande.orderId}}</td>
                <td>{{sABIKECommande.number}}</td>
                <td>{{sABIKECommande.status}}</td>
                <td>{{sABIKECommande.orderDate | date:'mediumDate'}}</td>
                <td>{{sABIKECommande.orderItems}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/sabike-commande', sABIKECommande.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sabike-commande', sABIKECommande.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sabike-commande', { outlets: { popup: sABIKECommande.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
