<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sABIKECommande">
            <h2><span>SABIKE Commande</span> {{sABIKECommande.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Order Id</span></dt>
                <dd>
                    <span>{{sABIKECommande.orderId}}</span>
                </dd>
                <dt><span>Number</span></dt>
                <dd>
                    <span>{{sABIKECommande.number}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{sABIKECommande.status}}</span>
                </dd>
                <dt><span>Order Date</span></dt>
                <dd>
                    <span>{{sABIKECommande.orderDate}}</span>
                </dd>
                <dt><span>Order Items</span></dt>
                <dd>
                    <span>{{sABIKECommande.orderItems}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sabike-commande', sABIKECommande.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
