<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sABIKECart">
            <h2><span>SABIKE Cart</span> {{sABIKECart.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Cart Id</span></dt>
                <dd>
                    <span>{{sABIKECart.cartId}}</span>
                </dd>
                <dt><span>User Id</span></dt>
                <dd>
                    <div *ngIf="sABIKECart.userId">
                        <a [routerLink]="['/sabike-user', sABIKECart.userId?.id, 'view']">{{sABIKECart.userId?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sabike-cart', sABIKECart.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
