<div id="checkout-done-root-wrapper">
    <div id="checkout-done-root">
        <section class="mat-typography">
            <h1>Well done! Your order has been placed.</h1>
            <p>
                The Sabike Team thanks you for your purchase
            </p>
        </section>
        <button
            id="checkout-done-button"
            mat-button
            color="accent"
            routerLink="/"
            routerLinkActive="active">
            GO BACK TO HOME PAGE
        </button>
    </div>
</div>
