#checkout-done-root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
}

#checkout-done-button {
  max-width: 200px;
}

#checkout-done-root-wrapper {
  width: 600px; /*can be in percentage also.*/
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}
