<div id="nav-root">
    <p id="nav-left-root-label-category" style="padding-top: 16px;">Pick a category</p>
    <mat-tree id="nav-left-root" [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node
            class="hoverable"
            *matTreeNodeDef="let node" matTreeNodeToggle
            matTreeNodePadding
            matRipple
            routerLink="{{node.route}}"
            (click)="activeNode = node"
            [ngClass]="{ 'background-highlight': activeNode === node }">
            <button mat-icon-button routerLink="{{node.route}}"
                    [attr.aria-label]="'toggle ' + node.name">
                {{node.name}}
            </button>
        </mat-tree-node>

        <mat-tree-node
            class="hoverable"
            *matTreeNodeDef="let node; when: hasChild"
            matTreeNodePadding
            matRipple
            routerLink="{{node.route}}"
            (click)="activeNode = node"
            [ngClass]="{ 'background-highlight': activeNode === node }">
            <button mat-icon-button matTreeNodeToggle routerLink="{{node.route}}"
                    [attr.aria-label]="'toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
                {{node.name}}
            </button>
        </mat-tree-node>
    </mat-tree>


    <mat-divider id="nav-left-root-divider"></mat-divider>
    <div id="nav-left-root-label-filters" *ngIf="shouldShowGlobalFilters()">
        <p>Filtres</p>
        <form>
            <div id="nav-left-root-filter-prices">
                <mat-form-field class="nav-left-root-filter-price">
                    <input #minPrice matInput type="number" placeholder="Min price">
                </mat-form-field>
                <mat-form-field class="nav-left-root-filter-price" style="margin-left: 16px;">
                    <input #maxPrice matInput type="number" placeholder="Max price">
                </mat-form-field>
                <button id="nav-left-root-filter-price-validate" mat-raised-button color="accent"
                        (click)="applyPriceFilter(minPrice.value, maxPrice.value)">Apply</button>
            </div>
            <mat-checkbox (change)="applyStockFilter($event.checked)">En stock</mat-checkbox>

            <div #bikeContainer id="nav-left-root-filter-bike" *ngIf="shouldShowBikeFilters()">
                <p>Filters on color</p>
                <div *ngFor="let color of bikeFiltersLabels.color ">
                    <mat-checkbox (change)="applyColorFilter(color,$event)">
                        {{ color }}
                    </mat-checkbox>
                </div>
                <p>Filters on size</p>
                <div *ngFor="let size of bikeFiltersLabels.size ">
                    <mat-checkbox (change)="applySizeFilter(size,$event)">
                        {{ size }}
                    </mat-checkbox>
                </div>
            </div>

        </form>
    </div>
</div>
