//@import "/content/scss/sabike-theme";

.example-card {
  max-width: 250px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

#card-article-image {
  max-height: 100%;
  max-width: 100%;
}

//#in-stock {
//  color: red;
//}

//mat-card-title {
//  background: #2196f3;
//}
