<mat-card class="example-card">
    <img id="card-article-image" mat-card-image src="../../../../content/images/velo.jpg">
    <mat-card-content>
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>{{product.price}} €</mat-card-subtitle>
        <mat-card-subtitle *ngIf="product.stock > 0; else unavailable" class="available">En stock</mat-card-subtitle>
        <ng-template #unavailable>
            <mat-card-subtitle class="unavailable">Non disponible</mat-card-subtitle>
        </ng-template>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button
                (click)="onButtonSeeDetailsClick(123)"
                routerLink="/articles/VTT/123"> <!-- TODO: fetch categ & title & convert space to "-" -->
            <!-- TODO de manière dynamIqUE-->
            VOIR
        </button>
        <button mat-button>AJOUTER</button>
    </mat-card-actions>
</mat-card>
