#card-article-image {
  max-height: 100%;
  max-width: 100%;
}

.mat-card {
  height: 405px;
  width: 240px;
  margin-top: 16px;
}

.card-image-container {
  height: 200px;
  width: 208px;
}
.card-article-image {
  width: 100%;
  vertical-align: top;
  horiz-align: center;
}
