<mat-card class="example-card">
<!--    <img id="card-article-image" mat-card-image src="../../../../content/images/velo.jpg">-->
    <img class="card-article-image" mat-card-image src="{{product.picture}}">
    <mat-card-content>
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>{{product.price}} €</mat-card-subtitle>
        <mat-card-subtitle *ngIf="product.stock > 0; else unavailable" class="available">En stock</mat-card-subtitle>
        <ng-template #unavailable>
            <mat-card-subtitle class="unavailable">Non disponible</mat-card-subtitle>
        </ng-template>
    </mat-card-content>
    <mat-card-actions align="end">
        <button *ngIf="product.type === 'BIKE'"
                mat-button
                routerLink="/articles/{{product.bikeCategory}}/{{product.id}}">
            VOIR
        </button>
        <button *ngIf="product.type === 'PART'"
                mat-button
                routerLink="/articles/{{product.partCategoryType}}/{{product.id}}">
            VOIR
        </button>
        <button mat-button>AJOUTER</button>
    </mat-card-actions>
</mat-card>
