<div id="home-root">
    <div id="home-info">
        <div class="home-row" id="home-description">
            <div id="home-description-left">
                <img class="images" id="image-description" mat-card-image src="../../content/images/bike-home.jpg">
            </div>
            <div id="home-description-right">

            </div>
        </div>
        <div class="home-row" id="home-advantages">
            <div id="home-advantages-left">

            </div>
            <div id="home-advantages-right">
                <img class="images" id="image-advantages" mat-card-image src="../../content/images/bike2-home.jpg">
            </div>
        </div>

        <div id="home-icons">
            <div class="home-icon-wrapper" id="home-icon-payment">
                <i class="material-icons" id="home-icon-credit-card">
                    credit_card
                </i>
                <div class="home-icon-description">
                    <h5>Paiement facile</h5>
                    <p>Utiliser votre carte bancaire pour un paiement rapide et sécurisé.</p>
                </div>
            </div>
            <div class="home-icon-wrapper" id="home-icon-chrono">
                <i class="material-icons" id="home-icon-clock">
                    watch_later
                </i>
                <div class="home-icon-description">
                    <h5>Commande rapide</h5>
                    <p>Achetez et recevez votre colis en 24h top chrono.</p>
                </div>
            </div>
            <div class="home-icon-wrapper" id="home-icon-refund">
                <i class="material-icons" id="home-icon">
                    monetization_on
                </i>
                <div class="home-icon-description">
                    <h5>Satisfait ou remboursé</h5>
                    <p>Renvoyez un produit qui ne vous convient pas facilement.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="home-top-sales">

    </div>
</div>


<!---->
<!--<div class="row">-->
<!--    <div class="col-md-3">-->
<!--        <span class="hipster img-fluid rounded"></span>-->
<!--    </div>-->
<!--    <div class="col-md-9">-->
<!--        <h1 class="display-4">Welcome, Java Hipster!</h1>-->
<!--        <p class="lead">This is your homepage</p>-->

<!--        <div class="mt-3 mb-3">-->
<!--            <form class="example-form">-->
<!--                <mat-form-field class="example-full-width">-->
<!--                    <input matInput placeholder="Favorite food" value="Sushi">-->
<!--                </mat-form-field>-->

<!--                <mat-form-field class="example-full-width">-->
<!--                    <textarea matInput placeholder="Leave a comment"></textarea>-->
<!--                </mat-form-field>-->
<!--            </form>-->

<!--            <button mat-raised-button color="primary">Hello jhipster material !</button>-->
<!--        </div>-->

<!--        <div [ngSwitch]="isAuthenticated()">-->
<!--            <div class="alert alert-success" *ngSwitchCase="true">-->
<!--                <span id="home-logged-message" *ngIf="account"-->
<!--                   > You are logged in as user "{{account.login}}". </span>-->
<!--            </div>-->

<!--            <div class="alert alert-warning" *ngSwitchCase="false">-->
<!--                <span>If you want to </span>-->
<!--                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>-->
<!--            </div>-->
<!--            <div class="alert alert-warning" *ngSwitchCase="false">-->
<!--                <span>You don't have an account yet?</span>&nbsp;-->
<!--                <a class="alert-link" routerLink="register">Register a new account</a>-->
<!--            </div>-->
<!--        </div>-->

<!--        <p>-->
<!--            If you have any question on JHipster:-->
<!--        </p>-->

<!--        <ul>-->
<!--            <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener">JHipster homepage</a></li>-->
<!--            <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener">JHipster on Stack Overflow</a></li>-->
<!--            <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener">JHipster bug tracker</a></li>-->
<!--            <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener">JHipster public chat room</a></li>-->
<!--            <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener">follow @java_hipster on Twitter</a></li>-->
<!--        </ul>-->

<!--        <p>-->
<!--            <span>If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener">GitHub</a>!-->
<!--        </p>-->
<!--    </div>-->
<!--</div>-->
