#home-root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#title-container {
  display: flex;
  justify-content: center;
}
#title-container h1 {
  font-family: Velino, serif;
  font-size: 3em;
  font-style: italic;
  text-align: center;
  width: 80%;
  margin-bottom: 1em;
}

#home-info {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#home-category-row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.home-category {
  width: 40%;
  padding: 1em;
}

#home-advantages {
}

#home-advantages-left {
  width: 70%;
}

#home-advantages-right {
  width: 30%;
}

.images {
  display: block;
  height: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
}

.card:hover .home-category-overlay {
  opacity: 0.6;
}

.home-category-overlay {
}

.text {
  color: white;
  top: 40%;
  position: relative;
  font-size: 2em;
  font-weight: bold;
}

.home-category-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
  text-align: center;
}

.home-category-details:hover {
  display: block;
}

#home-icons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.home-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 125px;
}

#home-icon-credit-card,
#home-icon-clock,
#home-icon-money {
  font-size: 40px;
}

.home-icon-description {
  text-align: center;
}

/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
    background-size: contain;
  }
}
