<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-product-heading">Create or edit a Product</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                           readonly/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                           formControlName="price"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_stock">Stock</label>
                    <input type="number" class="form-control" name="stock" id="field_stock"
                           formControlName="stock"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_picture">Picture</label>
                    <input type="text" class="form-control" name="picture" id="field_picture"
                           formControlName="picture"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_brand">Brand</label>
                    <input type="text" class="form-control" name="brand" id="field_brand"
                           formControlName="brand"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="BIKE">BIKE</option>
                        <option value="PART">PART</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_bikeCategory">Bike Category</label>
                    <select class="form-control" name="bikeCategory" formControlName="bikeCategory"
                            id="field_bikeCategory">
                        <option value="MOUNTAIN">Mountain</option>
                        <option value="ROAD">Road</option>
                        <option value="EBIKE">EBike</option>
                        <option value="BMX">BMX</option>
                        <option value="TEST">City</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_bikeSize">Bike Size</label>
                    <input type="text" class="form-control" name="bikeSize" id="field_bikeSize"
                           formControlName="bikeSize"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_bikeSeeds">Bike Seeds</label>
                    <input type="number" class="form-control" name="bikeSeeds" id="field_bikeSeeds"
                           formControlName="bikeSeeds"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_bikeColor">Bike Color</label>
                    <input type="text" class="form-control" name="bikeColor" id="field_bikeColor"
                           formControlName="bikeColor"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_partCategory">Part Category</label>
                    <select class="form-control" name="partCategory" formControlName="partCategory"
                            id="field_partCategory">
                        <option value="STEERING">Steering</option>
                        <option value="SADDLE_SEATPOST">Saddle / Seatpost</option>
                        <option value="DRIVETRAIN">Drivetrain</option>
                        <option value="WHEELS_TYRES">Wheels / Tyres</option>
                        <option value="BRAKES">Brakes</option>
                        <option value="FRAMES_FORKS">Frames / Forks</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_partCategoryType">Part Category Type</label>
                    <select class="form-control" name="partCategoryType" formControlName="partCategoryType"
                            id="field_partCategoryType">
                        <!-- STEERING -->
                        <option value="STEMS">Stems</option>
                        <option value="HANDLEBARS">Handlebars</option>
                        <option value="HEADSET">Headset</option>
                        <!-- SADDLE_SEATPOST -->
                        <option value="SADDLE">Saddle</option>
                        <option value="SEAT_POST">Seat post</option>
                        <option value="SEAT_CLAMP">Seat clamp</option>
                        <!-- DRIVETRAIN -->
                        <option value="DERAILLEUR">Derailleur</option>
                        <option value="CHAINS">Chains</option>
                        <option value="CRANKSETS">Cranksets</option>
                        <option value="PEDALS">Pedals</option>
                        <option value="STRAPS">Straps</option>
                        <!-- WHEELS_TYRES -->
                        <option value="TYRES">Tyres</option>
                        <option value="ALLOY_CARBON_WHEELS">Alloy/Carbon wheels</option>
                        <option value="WIRE_SPOKED_WHEELS">Wire spoked wheels</option>
                        <option value="BOYAUX">Boyaux</option>
                        <!-- BRAKES -->
                        <option value="BRAKE_LEVERS">Brake levers</option>
                        <option value="BRAKE_CABLES">Brake cables</option>
                        <option value="BRAKE_CALIPERS">Brake calipers</option>
                        <option value="BRAKE_PADS">Brake pads</option>
                        <!-- FRAMES_FORKS -->
                        <option value="FRAME_KITS">Frame kits</option>
                        <option value="FRAMES">Frames</option>
                        <option value="FORKS">Forks</option>
                    </select>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
