<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-product-heading">Create or edit a Product</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                           formControlName="price"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_stock">Stock</label>
                    <input type="number" class="form-control" name="stock" id="field_stock"
                           formControlName="stock"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_picture">Picture</label>
                    <input type="text" class="form-control" name="picture" id="field_picture"
                           formControlName="picture"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_brand">Brand</label>
                    <input type="text" class="form-control" name="brand" id="field_brand"
                           formControlName="brand"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="BIKE">BIKE</option>
                        <option value="PART">PART</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_bikeCategory">Bike Category</label>
                    <select class="form-control" name="bikeCategory" formControlName="bikeCategory" id="field_bikeCategory">
                        <option value="MOUNTAIN">MOUNTAIN</option>
                        <option value="ROAD">ROAD</option>
                        <option value="EBIKE">EBIKE</option>
                        <option value="BMX">BMX</option>
                        <option value="CITY">CITY</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_bikeSize">Bike Size</label>
                    <input type="text" class="form-control" name="bikeSize" id="field_bikeSize"
                           formControlName="bikeSize"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_bikeSeeds">Bike Seeds</label>
                    <input type="number" class="form-control" name="bikeSeeds" id="field_bikeSeeds"
                           formControlName="bikeSeeds"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_bikeColor">Bike Color</label>
                    <input type="text" class="form-control" name="bikeColor" id="field_bikeColor"
                           formControlName="bikeColor"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_partCategory">Part Category</label>
                    <select class="form-control" name="partCategory" formControlName="partCategory" id="field_partCategory">
                        <option value="STEERING">STEERING</option>
                        <option value="SADDLE_SEATPOST">SADDLE_SEATPOST</option>
                        <option value="DRIVETRAIN">DRIVETRAIN</option>
                        <option value="WHEELS_TYRES">WHEELS_TYRES</option>
                        <option value="BRAKES">BRAKES</option>
                        <option value="FRAMES_FORKS">FRAMES_FORKS</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_partCategoryType">Part Category Type</label>
                    <select class="form-control" name="partCategoryType" formControlName="partCategoryType" id="field_partCategoryType">
                        <option value="STEMS">STEMS</option>
                        <option value="HANDLEBARS">HANDLEBARS</option>
                        <option value="HEADSET">HEADSET</option>
                        <option value="SADDLE">SADDLE</option>
                        <option value="SEAT_POST">SEAT_POST</option>
                        <option value="SEAT_CLAMP">SEAT_CLAMP</option>
                        <option value="DERAILLEUR">DERAILLEUR</option>
                        <option value="CHAINS">CHAINS</option>
                        <option value="CRANKSETS">CRANKSETS</option>
                        <option value="PEDALS">PEDALS</option>
                        <option value="STRAPS">STRAPS</option>
                        <option value="TYRES">TYRES</option>
                        <option value="ALLOY_CARBON_WHEELS">ALLOY_CARBON_WHEELS</option>
                        <option value="WIRE_SPOKED_WHEELS">WIRE_SPOKED_WHEELS</option>
                        <option value="BOYAUX">BOYAUX</option>
                        <option value="BRAKE_LEVERS">BRAKE_LEVERS</option>
                        <option value="BRAKE_CABLES">BRAKE_CABLES</option>
                        <option value="BRAKE_CALIPERS">BRAKE_CALIPERS</option>
                        <option value="BRAKE_PADS">BRAKE_PADS</option>
                        <option value="FRAME_KITS">FRAME_KITS</option>
                        <option value="FRAMES">FRAMES</option>
                        <option value="FORKS">FORKS</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
