<div id="articles-body">
    <jhi-breadcrumb></jhi-breadcrumb>

    <div id="article-grid-filters">
        <mat-form-field>
            <mat-label>Filtre (facultatif)</mat-label>
            <mat-select [(value)]="selected">
                <mat-option>None</mat-option>
                <mat-option value="option1">Prix croissant</mat-option>
                <mat-option value="option2">Prix décroissant</mat-option>
                <mat-option value="option3">Autre filtre</mat-option>
            </mat-select>
        </mat-form-field>
<!--        <span id="article-grid-top-placeholder"></span>-->
    </div>

    <div id="article-grid-wrapper">
        <mat-paginator class="article-grid-paginator-top"
   a                    #paginator
                       [length]=17
                       [pageIndex]="0"
                       [pageSize]="20"
                       [pageSizeOptions]="[20, 40, 60]">
        </mat-paginator>
        <jhi-grid-article class="block-end justify-start" [products]="products"></jhi-grid-article>
        <mat-paginator class="article-grid-paginator-bottom"
                       #paginator
                       [length]=17
                       [pageIndex]="0"
                       [pageSize]="20"
                       [pageSizeOptions]="[20, 40, 60]">
        </mat-paginator>
    </div>
</div>
