#articles-body {
  height: 100%;
}

#article-grid-filters {
  display: flex;
  justify-content: flex-end;
  margin-right: 24px;
}

//#left {
//  //width: 20%;
//  //align-self: start;
//}

.right {
  width: 40%;
  //align-self: end;
}

#article-grid-top-placeholder {
  width: 40%;
}

#article-grid-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.article-grid-paginator-top {
  margin-bottom: 16px;
}

.article-grid-paginator-bottom {
  margin-top: 16px;
}
