//.example-icon {
//  //padding: 0 14px;
//  //margin: 0 14px;
//}

.example-spacer {
  flex: 1 1 auto;
}

#toolbar-search-area {
  display: flex;
  align-items: center;
  width: 100%;
}
#toolbar-main-title {
  min-width: 320px;
}
