<mat-toolbar color="primary" [class.mat-elevation-z8]="true">
    <!--    <button-->
    <!--        type="button"-->
    <!--        aria-label="Toggle sidenav"-->
    <!--        mat-icon-button>-->
    <!--        &lt;!&ndash;-->
    <!--    (click)="drawer.toggle()"-->
    <!--    *ngIf="isHandset$ | async"-->
    <!--    &ndash;&gt;-->
    <!--        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>-->
    <!--    </button>-->
    <!--    <p>-->
    <!--        SABIKE-->
    <!--    </p>-->
    <span id="toolbar-main-title" routerLink="/" routerLinkActive="active">SABIKE</span>
    <!--  <button mat-button (click)="onButtonNavigationClick('velos')">VÉLOS</button>-->
    <!--  <button mat-button (click)="onButtonNavigationClick('pieces')">PIÈCES</button>-->
    <div id="toolbar-search-area">
        <jhi-search></jhi-search>
    </div>
    <span class="example-spacer"></span>

    <!-- Entities -->
    <button
        *jhiHasAnyAuthority="'ROLE_ADMIN'"
        type="button"
        aria-label="ToolbarButton account"
        [matMenuTriggerFor]="menuEntities"
        mat-icon-button>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Admin icon">view_module</mat-icon>
    </button>
    <mat-menu #menuEntities="matMenu"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">
        <button mat-menu-item
                routerLink="client"
                routerLinkActive="active">
            Client
        </button>
        <button mat-menu-item
                routerLink="address"
                routerLinkActive="active">
            Address
        </button>
        <button mat-menu-item
                routerLink="product"
                routerLinkActive="active">
            Product
        </button>
        <button mat-menu-item
                routerLink="cart"
                routerLinkActive="active">
            Cart
        </button>
        <button mat-menu-item
                routerLink="command"
                routerLinkActive="active">
            Command
        </button>
        <button mat-menu-item
                routerLink="order-items"
                routerLinkActive="active">
            Order items
        </button>
    </mat-menu>

    <!-- Admin management -->
    <button
        *jhiHasAnyAuthority="'ROLE_ADMIN'"
        type="button"
        aria-label="ToolbarButton account"
        [matMenuTriggerFor]="menuAdmin"
        mat-icon-button>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Admin icon">verified_user</mat-icon>
    </button>
    <mat-menu #menuAdmin="matMenu"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">
        <button mat-menu-item
                routerLink="admin/user-management"
                routerLinkActive="active">
            User management
        </button>
        <button mat-menu-item
                routerLink="admin/jhi-tracker"
                routerLinkActive="active">
            User tracker
        </button>
        <button mat-menu-item
                routerLink="admin/jhi-metrics"
                routerLinkActive="active">
            Metrics
        </button>
        <button mat-menu-item
                routerLink="admin/jhi-health"
                routerLinkActive="active">
            Health
        </button>
        <button mat-menu-item
                routerLink="admin/jhi-configuration"
                routerLinkActive="active">
            Configuration
        </button>
        <button mat-menu-item
                routerLink="admin/audits"
                routerLinkActive="active">
            Audits
        </button>
        <button mat-menu-item
                routerLink="admin/logs"
                routerLinkActive="active">
            Logs
        </button>
        <button mat-menu-item
                routerLink="admin/docs"
                routerLinkActive="active">
            API
        </button>
        <!--            <a class="dropdown-item"  target="_tab" (click)="collapseNavbar()">-->
        <!--                <fa-icon icon="hdd" fixedWidth="true"></fa-icon>-->
        <!--                <span>Database</span>-->
        <!--            </a>-->
        <!--        <button mat-menu-item href='./h2-console'>-->
        <!--            Database-->
        <!--&lt;!&ndash;            TODO debug h2 for dev&ndash;&gt;-->
        <!--&lt;!&ndash;            <a class="dropdown-item"  target="_tab" (click)="collapseNavbar()">&ndash;&gt;-->
        <!--&lt;!&ndash;                <fa-icon icon="hdd" fixedWidth="true"></fa-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;                <span>Database</span>&ndash;&gt;-->
        <!--&lt;!&ndash;            </a>&ndash;&gt;-->
        <!--        </button>-->
    </mat-menu>

    <!-- Account management -->
    <button type="button"
            aria-label="ToolbarButton account"
            [matMenuTriggerFor]="menuAccount"
            mat-icon-button
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Account icon">account_circle</mat-icon>
    </button>
    <mat-menu
        #menuAccount="matMenu"
        [ngSwitch]="isAuthenticated()">
        <button
            mat-menu-item
            (click)="openConnectDialog()"
            *ngSwitchCase="false">
            Se connecter
        </button>
        <button mat-menu-item
                *ngSwitchCase="false"
                routerLink="register"
                routerLinkActive="active"> <!-- on utilise le router pour la creation de compte -->
            Créer un compte
        </button>
        <button mat-menu-item
                *ngSwitchCase="true">
            Paramètres du compte
        </button>
        <button mat-menu-item
                *ngSwitchCase="true">
            Historique des achats
        </button>
        <button mat-menu-item
                *ngSwitchCase="true"
                (click)="logout()">
            Se déconnecter
        </button>
    </mat-menu>

    <!--  HOW TO DETECT IF ADMIN -->
    <!--    <button mat-menu-item-->
    <!--            *jhiHasAnyAuthority="'ROLE_ADMIN'">-->
    <!--        Se déconnecter-->
    <!--    </button>-->

    <!-- Cart management -->
    <button type="button"
            aria-label="ToolbarButton cart"
            mat-icon-button
            routerLink="mycart"
            routerLinkActive="active">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Cart icon">shopping_cart</mat-icon>
    </button>
</mat-toolbar>
