<mat-toolbar color="primary" [class.mat-elevation-z8]="true">
    <span id="toolbar-main-title" routerLink="/" routerLinkActive="active">SABIKE</span>

    <div id="toolbar-search-area">
        <jhi-search></jhi-search>
    </div>

    <span class="example-spacer"></span>

    <!-- Entities -->
    <button
        *jhiHasAnyAuthority="'ROLE_ADMIN'"
        type="button"
        aria-label="ToolbarButton account"
        [matMenuTriggerFor]="menuEntities"
        mat-icon-button>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Admin icon">view_module</mat-icon>
    </button>
    <mat-menu #menuEntities="matMenu"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">
        <button mat-menu-item
                routerLink="client"
                routerLinkActive="active">
            Client
        </button>
        <button mat-menu-item
                routerLink="address"
                routerLinkActive="active">
            Address
        </button>
        <button mat-menu-item
                routerLink="product"
                routerLinkActive="active">
            Product
        </button>
        <button mat-menu-item
                routerLink="command"
                routerLinkActive="active">
            Command
        </button>
        <button mat-menu-item
                routerLink="order-items"
                routerLinkActive="active">
            Order items
        </button>
    </mat-menu>

    <!-- Admin management -->
    <button
        *jhiHasAnyAuthority="'ROLE_ADMIN'"
        type="button"
        aria-label="ToolbarButton account"
        [matMenuTriggerFor]="menuAdmin"
        mat-icon-button>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Admin icon">verified_user</mat-icon>
    </button>
    <mat-menu #menuAdmin="matMenu"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">
        <button mat-menu-item
                routerLink="admin/user-management"
                routerLinkActive="active">
            User management
        </button>
        <button mat-menu-item
                routerLink="admin/jhi-tracker"
                routerLinkActive="active">
            User tracker
        </button>
        <button mat-menu-item
                routerLink="admin/jhi-metrics"
                routerLinkActive="active">
            Metrics
        </button>
        <button mat-menu-item
                routerLink="admin/jhi-health"
                routerLinkActive="active">
            Health
        </button>
        <button mat-menu-item
                routerLink="admin/jhi-configuration"
                routerLinkActive="active">
            Configuration
        </button>
        <button mat-menu-item
                routerLink="admin/audits"
                routerLinkActive="active">
            Audits
        </button>
        <button mat-menu-item
                routerLink="admin/logs"
                routerLinkActive="active">
            Logs
        </button>
        <button mat-menu-item
                routerLink="admin/docs"
                routerLinkActive="active">
            API
        </button>
    </mat-menu>

    <span id="user-account-name" *ngIf="isAuthenticated()">
        {{userName}}
    </span>

    <!-- Account management -->
    <button type="button"
            aria-label="ToolbarButton account"
            [matMenuTriggerFor]="menuAccount"
            mat-icon-button
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Account icon">account_circle</mat-icon>
    </button>
    <mat-menu
        #menuAccount="matMenu"
        [ngSwitch]="isAuthenticated()">
        <button
            mat-menu-item
            (click)="openConnectDialog()"
            *ngSwitchCase="false">
            Se connecter
        </button>
        <button mat-menu-item
                *ngSwitchCase="false"
                routerLink="register"
                routerLinkActive="active"> <!-- on utilise le router pour la creation de compte -->
            Créer un compte
        </button>
        <button mat-menu-item
                *ngSwitchCase="true"
                routerLink="my-account"
                routerLinkActive="active">
            Paramètres du compte
        </button>
        <button mat-menu-item
                *ngSwitchCase="true"
                routerLink="my-account/history"
                routerLinkActive="active">
            Historique des achats
        </button>
        <button mat-menu-item
                *ngSwitchCase="true"
                (click)="logout()">
            Se déconnecter
        </button>
    </mat-menu>

    <!-- Cart management -->
    <button type="button"
            aria-label="ToolbarButton cart"
            mat-icon-button
            routerLink="mycart"
            routerLinkActive="active">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Cart icon"
                  matBadge="{{numberOfItems}}"
                  matBadgeColor="warn">
            shopping_cart
        </mat-icon>
    </button>
</mat-toolbar>
