<div>
    <div>
        <p class="mat-display-1">Registration</p>
        <div class="alert alert-success" *ngIf="success">
            <strong>Registration saved!</strong> Please check your email for confirmation.
        </div>

        <div class="alert alert-danger" *ngIf="error">
            <strong>Registration failed!</strong> Please try again later.
        </div>

        <div class="alert alert-danger" *ngIf="errorUserExists">
            <strong>Login name already registered!</strong> Please choose another one.
        </div>

        <div class="alert alert-danger" *ngIf="errorEmailExists">
            <strong>Email is already in use!</strong> Please choose another one.
        </div>

        <div class="alert alert-danger" *ngIf="doNotMatch">
            The password and its confirmation do not match!
        </div>
    </div>
    <form [formGroup]="registerForm" *ngIf="!success">
        <div id="register-form-fields">
            <!-- Username -->
            <mat-form-field>
                <input matInput
                       type="text"
                       placeholder="Username"
                       formControlName="login"
                       required>

                <mat-error
                    *ngIf="(registerForm.get('login').invalid && (registerForm.get('login').dirty || registerForm.get('login').touched)) && registerForm.get('login').errors.required">
                    Your username is required.
                </mat-error>
                <mat-error
                    *ngIf="(registerForm.get('login').invalid && (registerForm.get('login').dirty || registerForm.get('login').touched)) && registerForm.get('login').errors.minlength">
                    Your username is required to be at least 1 character.
                </mat-error>
                <mat-error
                    *ngIf="(registerForm.get('login').invalid && (registerForm.get('login').dirty || registerForm.get('login').touched)) && registerForm.get('login').errors.maxlength">
                    Your username cannot be longer than 50 characters.
                </mat-error>
                <mat-error
                    *ngIf="(registerForm.get('login').invalid && (registerForm.get('login').dirty || registerForm.get('login').touched)) && registerForm.get('login').errors.pattern">
                    Your username can only contain letters and digits.
                </mat-error>
            </mat-form-field>
            <!-- Email -->
            <mat-form-field>
                <input matInput
                       type="email"
                       placeholder="Email"
                       formControlName="email"
                       required>
                <mat-error
                    *ngIf="(registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)) && registerForm.get('email').errors.required">
                    Your email is required.
                </mat-error>
                <mat-error
                    *ngIf="(registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)) && registerForm.get('email').errors.invalid">
                    Your email is invalid.
                </mat-error>
                <mat-error
                    *ngIf="(registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)) && registerForm.get('email').errors.minlength">
                    Your email is required to be at least 5 characters.
                </mat-error>
                <mat-error
                    *ngIf="(registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)) && registerForm.get('email').errors.maxlength">
                    Your email cannot be longer than 100 characters.
                </mat-error>
            </mat-form-field>
            <!-- Password -->
            <mat-form-field>
                <input matInput
                       type="password"
                       placeholder="New password"
                       formControlName="password"
                       required>
                <mat-error
                    *ngIf="(registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched)) && registerForm.get('password').errors.required">
                    Your password is required.
                </mat-error>
                <mat-error
                    *ngIf="(registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched)) && registerForm.get('password').errors.minlength">
                    Your password is required to be at least 4 characters.
                </mat-error>
                <mat-error
                    *ngIf="(registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched)) && registerForm.get('password').errors.maxlength">
                    Your password cannot be longer than 50 characters.
                </mat-error>
            </mat-form-field>
            <!-- Password confirm -->
            <mat-form-field>
                <input matInput
                       type="password"
                       placeholder="New password confirmation"
                       formControlName="confirmPassword"
                       required>
                <mat-error
                    *ngIf="(registerForm.get('confirmPassword').invalid && (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched)) && registerForm.get('confirmPassword').errors.required">
                    Your confirmation password is required.
                </mat-error>
                <mat-error
                    *ngIf="(registerForm.get('confirmPassword').invalid && (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched)) && registerForm.get('confirmPassword').errors.minlength">
                    Your confirmation password is required to be at least 4 characters.
                </mat-error>
                <mat-error
                    *ngIf="(registerForm.get('confirmPassword').invalid && (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched)) && registerForm.get('confirmPassword').errors.maxlength">
                    Your confirmation password cannot be longer than 50 characters.
                </mat-error>
            </mat-form-field>
            <!-- Phone -->
            <mat-form-field>
                <input matInput
                       type="tel"
                       placeholder="Phone number"
                       formControlName="phone">
                <mat-error
                    *ngIf="(registerForm.get('phone').invalid && (registerForm.get('phone').dirty || registerForm.get('phone').touched)) && registerForm.get('phone').errors.required">
                    Your phone is required.
                </mat-error>
                <mat-error
                    *ngIf="(registerForm.get('phone').invalid && (registerForm.get('phone').dirty || registerForm.get('phone').touched)) && registerForm.get('phone').errors.invalid">
                    Your phone is invalid.
                </mat-error>
                <mat-error
                    *ngIf="(registerForm.get('phone').invalid && (registerForm.get('phone').dirty || registerForm.get('phone').touched)) && registerForm.get('phone').errors.minlength">
                    Your phone is required to be at least 6 characters.
                </mat-error>
                <mat-error
                    *ngIf="(registerForm.get('phone').invalid && (registerForm.get('phone').dirty || registerForm.get('phone').touched)) && registerForm.get('phone').errors.maxlength">
                    Your phone cannot be longer than 10 characters.
                </mat-error>
            </mat-form-field>
        </div>
    </form>
    <div>
        <button
            *ngIf="!success"
            (click)="register()"
            id="register-button"
            mat-raised-button
            color="accent">REGISTER
        </button>
    </div>
</div>
